




#nav.nav{
width: 1123px;
margin:0px auto;
padding: 30px;
background-color:#44A1A0;
border: 5px solid  #0D5C63;
border-style: dashed;
text-align: center;

}

#nav .nav-link {
    display: inline;
    color:black;
    font-size:2rem;
    margin:2rem;

}

#main.main {
    max-width: 1200px;
    background-color: #FFFFFA;
}  

#home.home {
    background-color:#C3D7D5;
    display: block;
    margin-top: 2rem;
    border:3px solid #0D5C63;
    padding: 0%;}

#about.about{
    display: block;
    margin-top: 2rem;
    background-color: #85ADAD;
    border:3px solid #0D5C63;
    color: black;
    padding: 0;
}
   
#contact.contact{
    display:block;
    margin-top: 2rem;
    background-color: #4A8589;
    padding: 1rem;
}

#contact .contact-form {
    background-color: #E1EBE8;
}

