#nav.nav{
width: 1127px;
margin:0px auto;
padding: 30px;
background-color:#44A1A0;
border: 5px solid  #0D5C63;
text-align: center;
}
#main.main {
    max-width: 1200px;
    background-color: #FFFFFA;
}
#nav .nav-link {
    display: inline;
    color:black;
    font-size:2rem;
    margin:8rem;
    font-family:Tahoma, Verdana, sans-serif;
}
#home.home {
    background-color:#C3D7D5;
    display: block;
    margin-top: 1rem;
    border:3px solid #0D5C63;
    padding:2%;
    text-align: left;
    font-family: verdana;
    font-size:50px;
    color: black;
}
    #home .page-title {
        text-align: left;
        font-family: verdana;
        font-size: 24px;
        margin: .0.5rem;
        color:#043b41;
}   
#about.about{
    display: block;
    text-align:left;
    margin-top: 1rem;
    background-color: #85ADAD;
    border:3px solid #0D5C63;
    color: black;
    padding: 2%;
    padding-top: 1%;
    font-family: verdana;
    font-size: 20px; 
}
#about .section-title {
    text-align: left;
        font-family: verdana;
        font-size: 24px;
        margin: 1rem;
        color:#043b41;
        padding: 0%;
}  
#about .about-image {
    width: 200px;
    height: 200px;
    float:left;
}
#contact.contact{
    display:block;
    margin-top: 1rem;
    background-color: #4A8589;
    border:3px solid #0D5C63;
    padding: 1rem;
}

#contact .contact-form {
    background-color: #E1EBE8;
}
#contact .section-title {
    text-align: left;
        font-family: verdana;
        font-size: 24px;
        margin: 2rem;
        margin-left:1rem;
        color:#021c1f;
}
