html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************Styling landing page**************************************/
html {
	display: grid;
	grid-template-columns: 1fr;
	font-family: 'montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
body {
	width:1920px;
	height:900px;
	background-color:#f7f7ff;
}

img {
	width: 100px;
	height:auto;
	padding-left:5rem;
	padding-top:2rem;
	padding-bottom: 3rem;
	margin: 0;
}

body {
	background-image: url(images/bg-image/scooter.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.text {
	display: grid;

}
h1 {
font-size: 60px;
font-weight: 600;
padding: 2rem;
padding-left: 4rem;
color:#333131;
}

p.start{
	padding-left:4rem;
	font-size: 20px;
	font-weight: light;
	
	
}

form.form{
	display: grid;
	width: 25rem;
	background-color:white;
	color: #333131;
	padding:20px;
	margin:2rem;
	border: none;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
	padding: 0.5rem;
	font-size: 25px;
	font-weight: bold;
}

p.side{
	padding: 0.5rem;
	padding-left:0.5rem;
	font-size: 15px;
}

form.form input {
	background-color:rgba(231, 226, 226, 0.479);
	border: none;
	border-radius: 5px;
	height:3rem;
	padding-left: 0.5rem;
	margin:0.5rem;
}

.radio{
	margin-top: 2px;
	font-size: 15px;
	
}
#btn {
	background-color:#57EEAB;
	font-size: 25px;
	font-weight: bold;
	margin:2rem;
}

p.applied {
	font-size: 12px;
	font-display:center;
	padding-left: 2.5rem;
}

.half {
	color:#FF8480;
}

footer {
	background-color:#FFFD8C;
	height:150px;

}

h3{
	padding-top:2rem;
	padding-left: 4rem;
	font-size: 15px;
	font-weight: bold;
}
p.hrs{
	padding-top:0.5rem;
	padding-left: 4rem;
	font-size: 15px;
	font-weight: light;
}


.calculate input{
background-color:#f7f7ff;
border-radius: 5px;
border: none;
padding: 0.5rem;
margin:0.5px;

}


 .calculate {
	 
padding-left: 4rem;
padding-top: 0.5rem;
}

.calculate #hours {
	width: 6rem;
}
.calculate #city {
	width: 15rem;
}

.calculate #total {
	width: 12rem;
	color: white;
	background-color: #FF8480;
	font-size: 15px;
	font-weight: bolder;
}

.icons {
	display: flex;
	 flex-wrap: wrap;
	 justify-content: space-between;
	 flex-grow: 1;
}


